<p id="notice"><%= notice %></p>

<p>
  <b>Blog entry:</b>
  <%= @micropost.blog_entry %>
</p>

<p>
  <b>Comment:</b>
  <%= @micropost.comment %>
</p>

<p>
  <b>User:</b>
  <%= @micropost.user_id %>
</p>


<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
